n8n_workflows/adapter.json
{
  "name": "adapter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pathwise-adapter",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        0
      ],
      "id": "422abae9-bd26-42ef-ba15-f22ad2fc9257",
      "name": "Webhook",
      "webhookId": "b545db41-db57-4aa3-8cd5-ae7b88f81493"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/quiz/score",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"etudiant_id\": $json.body.etudiant_id, \"module\": $json.body.module, \"reponses\": $json.body.reponses }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        48,
        0
      ],
      "id": "c31aa6a8-3be7-4310-9909-684dd98b8a63",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zFCF9qIK3NpSA0qr",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2e65bb2f-8a68-4e89-b155-ce2e5e5f5c62",
              "leftValue": "={{ $json.score }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        0
      ],
      "id": "cf3cbf4d-b871-4f98-8f03-0041f00aa72c",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e137819-f541-4c31-82c7-6e8c2507ecd2",
              "name": "decision ",
              "value": "=Révision nécessaire - score: {{ $json.score }}%",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -80
      ],
      "id": "a10232ba-60b2-4191-ad11-8cfec6bf5249",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "59e5250f-7fc2-430a-8011-0a972169c0b9",
              "name": "decision ",
              "value": "=Module validé  - score: {{ $json.score }}%",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        112
      ],
      "id": "4c80fa12-6eac-47f8-8db4-7fd499de6e43",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1fa03846-246f-4bb7-a932-ff7b6eb19bef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7807ea62cfb0c9e1a4c1b964be2dafaa8653f364436e099c72958649590394f5"
  },
  "id": "AT5VSwcozI35p244",
  "tags": []
}